@use 'variables' as *;
@use 'fonts' as *;

.textarea {
  display: flex;
  width: fit-content;
  width: 100%;
  flex-direction: column;
  gap: 5px;

  label {
    font-weight: bold;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: $background-secondary;
    padding: $padding-topbottom $padding-leftright;
    border-radius: $border-radius;
    color: $color-primary;
    font-family: $font-family;
    font-size: 18px;
    resize: none;
    min-height: 60px;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    tab-size: 4;
  }

  .error {
    color: $color-error;
    font-size: 10px;
    margin: 0;
  }
}
