$color-primary: #000;
$color-secondary: #757575;
$color-error: #f14a4a;

$background-primary: #fff;
$background-secondary: #f7f7f9;
$background-main: #00b3bf;

$border-radius: 15px;

$thin-px: 3px;

$padding-topbottom: 5px;
$padding-leftright: 10px;

$h1-px: 36px;
$h2-px: 32px;
$h3-px: 28px;
$h4-px: 24px;
$h5-px: 20px;