@use 'variables' as *;

.message {
  padding: $padding-topbottom $padding-leftright;
  border-radius: $border-radius;

  .message__content {
    overflow-wrap: break-word;
  }
}

.isAnswer {
  background: $background-secondary;
}

.isQuestion {
  background: $background-main;
  color: $background-primary;
}

.message__date {
  position: relative;
  color: $color-secondary;
  font-size: 12px;
  margin: 0;
}

.message__content-text {
  margin: 0;
}

.message__file {
  position: relative;
  font-size: 12px;
  margin: 0;
}
