<div class="message" [class.isAnswer]="message().isAnswer" [class.isQuestion]="!message().isAnswer">
  <div class="message__content" markdown [data]="message().text">
    <p class="message__content-text">
      {{ message().text }}
    </p>
  </div>
  @if (message().file) {
    <div class="message__file">
      <span class="message__file-name">
        {{ message().file!.name }}
      </span>

      <a
        class="message__file-download"
        [href]="message().fileUrl"
        [download]="message().file!.name"
      >
        Скачать
      </a>
    </div>
  }
</div>
<p class="message__date">
  {{ message().createdAt | date: 'yyyy-MM-dd, hh:mm:ss' }}
</p>
